.projects-list__item {
  flex: 0 1 32%;
  margin-bottom: 2%;
  background-color: white;

  & img {
    margin: 0 auto;
    display: flex;
    width: 50%;
    object-fit: contain;
    cursor: pointer;
    animation: pulse 1.5s infinite alternate ease-in-out;
    transition: transform 0.3s ease-in-out;
  }

  &:hover img {
    animation: none;
    transform: scale(1.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .projects-list__item {
    flex: 0 1 48%;
  }
}

@media (max-width: 480px) {
  .projects-list__item {
    flex: 0 1 100%;
  }
}
