.projects-list__item {
  flex: 1 1 32%;
  height: 20%;
  margin-bottom: 2%;

  & img {
    margin: 0 auto;
    display: flex;
    width: 50%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .projects-list__item {
    flex: 1 1 48%;
  }
}

@media (max-width: 480px) {
  .projects-list__item {
    flex: 1 1 100%;
  }
}
