.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

h1 {
  font-size: clamp(1.2rem, 4vw, 3rem);
  line-height: 1.1;
  margin: 0;
}

// @media screen and (max-width: 600px) {
//   .header {
//     justify-content: center;
//   }
// }
