@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --text-color: #000000;
  --background-color: #f8f8f8;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 250vw;
  height: 250vh;
  z-index: -1;
  background-image: url("/images/background.svg");
  background-repeat: repeat;
  background-size: 5%;
  background-position: left top;
  transform: translateY(-30%) translateX(-23%) rotate(-20deg);
  transform-origin: center center;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
    background-color: var(--background-color-light);
  }
}
